.button {
}

.disabled {
    color: #cc9c00;
}

.secondary {
    color: #00cc22;
}

.default {
    color: #0059b3;
}

.red {
    color: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
